In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

#a = pd.read_csv('boxoffice_march_2019.csv')
#a.head()

data = pd.read_csv('movies_metadata.csv')
print(data)

       adult                              belongs_to_collection    budget  \
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1      False                                                NaN  65000000
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3      False                                                NaN  16000000
4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
5      False                                                NaN  60000000
6      False                                                NaN  58000000
7      False                                                NaN         0
8      False                                                NaN  35000000
9      False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
10     False                                                NaN  62000000
11     False                                                NaN         0
12     False  {'id': 117693, 'name': 'Balto Collection', 'po...         0
13     False                                                NaN  44000000
14     False                                                NaN  98000000
15     False                                                NaN  52000000
16     False                                                NaN  16500000
17     False                                                NaN   4000000
18     False  {'id': 3167, 'name': 'Ace Ventura Collection',...  30000000
19     False                                                NaN  60000000
20     False  {'id': 91698, 'name': 'Chili Palmer Collection...  30250000
21     False                                                NaN         0
22     False                                                NaN  50000000
23     False                                                NaN         0
24     False                                                NaN   3600000
25     False                                                NaN         0
26     False                                                NaN  12000000
27     False                                                NaN         0
28     False                                                NaN  18000000
29     False                                                NaN         0
...      ...                                                ...       ...
45436  False                                                NaN         0
45437  False                                                NaN         0
45438  False                                                NaN         0
45439  False                                                NaN         0
45440  False                                                NaN         0
45441  False                                                NaN         0
45442  False                                                NaN         0
45443  False                                                NaN         0
45444  False                                                NaN         0
45445  False                                                NaN         0
45446  False                                                NaN         0
45447  False                                                NaN         0
45448  False                                                NaN         0
45449  False                                                NaN         0
45450  False                                                NaN         0
45451  False                                                NaN         0
45452  False                                                NaN         0
45453  False                                                NaN         0
45454  False                                                NaN         0
45455  False                                                NaN         0
45456  False                                                NaN         0
45457  False                                                NaN         0
45458  False                                                NaN         0
45459  False                                                NaN         0
45460  False                                                NaN         0
45461  False                                                NaN         0
45462  False                                                NaN         0
45463  False                                                NaN         0
45464  False                                                NaN         0
45465  False                                                NaN         0

                                                  genres  \
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                         [{'id': 35, 'name': 'Comedy'}]
5      [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6      [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7      [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8      [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9      [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11     [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12     [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13     [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17     [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18     [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19     [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20     [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
21     [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
22     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
23     [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
24     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
25                         [{'id': 18, 'name': 'Drama'}]
26     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
27     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28     [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
29     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
...                                                  ...
45436  [{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...
45437  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
45438                      [{'id': 18, 'name': 'Drama'}]
45439  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
45440  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45441                     [{'id': 35, 'name': 'Comedy'}]
45442                                                 []
45443  [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
45444                    [{'id': 14, 'name': 'Fantasy'}]
45445  [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
45446  [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
45447                                                 []
45448                                                 []
45449  [{'id': 16, 'name': 'Animation'}, {'id': 10751...
45450  [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
45451  [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
45452                [{'id': 99, 'name': 'Documentary'}]
45453  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
45454  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
45455                                                 []
45456  [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...
45457  [{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...
45458                     [{'id': 27, 'name': 'Horror'}]
45459           [{'id': 878, 'name': 'Science Fiction'}]
45460  [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                      [{'id': 18, 'name': 'Drama'}]
45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                 []
45465                                                 []

                                                homepage      id    imdb_id  \
0                   http://toystory.disney.com/toy-story     862  tt0114709
1                                                    NaN    8844  tt0113497
2                                                    NaN   15602  tt0113228
3                                                    NaN   31357  tt0114885
4                                                    NaN   11862  tt0113041
5                                                    NaN     949  tt0113277
6                                                    NaN   11860  tt0114319
7                                                    NaN   45325  tt0112302
8                                                    NaN    9091  tt0114576
9           http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
10                                                   NaN    9087  tt0112346
11                                                   NaN   12110  tt0112896
12                                                   NaN   21032  tt0112453
13                                                   NaN   10858  tt0113987
14                                                   NaN    1408  tt0112760
15                                                   NaN     524  tt0112641
16                                                   NaN    4584  tt0114388
17                                                   NaN       5  tt0113101
18                                                   NaN    9273  tt0112281
19                                                   NaN   11517  tt0113845
20                                                   NaN    8012  tt0113161
21                                                   NaN    1710  tt0112722
22                                                   NaN    9691  tt0112401
23                                                   NaN   12665  tt0114168
24     http://www.mgm.com/title_title.do?title_star=L...     451  tt0113627
25                                                   NaN   16420  tt0114057
26                                                   NaN    9263  tt0114011
27                                                   NaN   17015  tt0114117
28                                                   NaN     902  tt0112682
29                                                   NaN   37557  tt0115012
...                                                  ...     ...        ...
45436                                                NaN   45527  tt1331329
45437                                                NaN  455661  tt6969946
45438                                                NaN  327237  tt3814486
45439                                                NaN   84710  tt0036975
45440                                                NaN   39562  tt0889600
45441                                                NaN   14008  tt0294425
45442                                                NaN   44330  tt0135690
45443                                                NaN   49279  tt0000359
45444                                                NaN   44333  tt0135179
45445                                                NaN   49277  tt0135122
45446                                                NaN   49271  tt0127948
45447                                                NaN   44324  tt0135631
45448                                                NaN  122036  tt0224286
45449                                                NaN   14885  tt0457437
45450                                                NaN   49280  tt0135453
45451                                                NaN  106807  tt0135571
45452                                                NaN  276895  tt3054038
45453                                                NaN  404604  tt5690142
45454                                                NaN  420346  tt4130180
45455                                                NaN   67179  tt0069215
45456                                                NaN   84419  tt0038621
45457                                                NaN  390959  tt0265736
45458                                                NaN  289923  tt0252966
45459                                                NaN  222848  tt0112613
45460                                                NaN   30840  tt0102797
45461               http://www.imdb.com/title/tt6209470/  439050  tt6209470
45462                                                NaN  111109  tt2028550
45463                                                NaN   67758  tt0303758
45464                                                NaN  227506  tt0008536
45465                                                NaN  461257  tt6980792

      original_language                     original_title  \
0                    en                          Toy Story
1                    en                            Jumanji
2                    en                   Grumpier Old Men
3                    en                  Waiting to Exhale
4                    en        Father of the Bride Part II
5                    en                               Heat
6                    en                            Sabrina
7                    en                       Tom and Huck
8                    en                       Sudden Death
9                    en                          GoldenEye
10                   en             The American President
11                   en        Dracula: Dead and Loving It
12                   en                              Balto
13                   en                              Nixon
14                   en                   Cutthroat Island
15                   en                             Casino
16                   en              Sense and Sensibility
17                   en                         Four Rooms
18                   en     Ace Ventura: When Nature Calls
19                   en                        Money Train
20                   en                         Get Shorty
21                   en                            Copycat
22                   en                          Assassins
23                   en                             Powder
24                   en                  Leaving Las Vegas
25                   en                            Othello
26                   en                       Now and Then
27                   en                         Persuasion
28                   fr         La Cité des Enfants Perdus
29                   zh                          摇啊摇，摇到外婆桥
...                 ...                                ...
45436                en                    The Final Storm
45437                en                     In a Heartbeat
45438                nl             Bloed, Zweet en Tranen
45439                en                       Jungle Woman
45440                en                  To Be Fat Like Me
45441                en                        Cadet Kelly
45442                en               Le tripot clandestin
45443                fr    L'Homme à la tête de caoutchouc
45444                fr                Les cartes vivantes
45445                en           Les affiches en goguette
45446                en            Le locataire diabolique
45447                fr               Le Roi du maquillage
45448                fr  Les Transmutations imperceptibles
45449                en   Pooh's Heffalump Halloween Movie
45450                fr                  L'Homme orchestre
45451                fr     Nouvelles luttes extravagantes
45452                en                        Deep Hearts
45453                hi                                Maa
45454                en                  The Morning After
45455                it         San Michele aveva un gallo
45456                en                   House of Horrors
45457                en          Shadow of the Blair Witch
45458                en                The Burkittsville 7
45459                en                    Caged Heat 3000
45460                en                         Robin Hood
45461                fa                            رگ خواب
45462                tl                Siglo ng Pagluluwal
45463                en                           Betrayal
45464                en                Satana likuyushchiy
45465                en                           Queerama

                                                overview    ...      \
0      Led by Woody, Andy's toys live happily in his ...    ...
1      When siblings Judy and Peter discover an encha...    ...
2      A family wedding reignites the ancient feud be...    ...
3      Cheated on, mistreated and stepped on, the wom...    ...
4      Just when George Banks has recovered from his ...    ...
5      Obsessive master thief, Neil McCauley leads a ...    ...
6      An ugly duckling having undergone a remarkable...    ...
7      A mischievous young boy, Tom Sawyer, witnesses...    ...
8      International action superstar Jean Claude Van...    ...
9      James Bond must unmask the mysterious head of ...    ...
10     Widowed U.S. president Andrew Shepherd, one of...    ...
11     When a lawyer shows up at the vampire's doorst...    ...
12     An outcast half-wolf risks his life to prevent...    ...
13     An all-star cast powers this epic look at Amer...    ...
14     Morgan Adams and her slave, William Shaw, are ...    ...
15     The life of the gambling paradise – Las Vegas ...    ...
16     Rich Mr. Dashwood dies, leaving his second wif...    ...
17     It's Ted the Bellhop's first night on the job....    ...
18     Summoned from an ashram in Tibet, Ace finds hi...    ...
19     A vengeful New York transit cop decides to ste...    ...
20     Chili Palmer is a Miami mobster who gets sent ...    ...
21     An agoraphobic psychologist and a female detec...    ...
22     Assassin Robert Rath arrives at a funeral to k...    ...
23     Harassed by classmates who won't accept his sh...    ...
24     Ben Sanderson, an alcoholic Hollywood screenwr...    ...
25     The evil Iago pretends to be friend of Othello...    ...
26     Waxing nostalgic about the bittersweet passage...    ...
27     This film adaptation of Jane Austen's last nov...    ...
28     A scientist in a surrealist society kidnaps ch...    ...
29     A provincial boy related to a Shanghai crime f...    ...
...                                                  ...    ...
45436  A stranger named Silas flees from a devastatin...    ...
45437  A closeted boy runs the risk of being outed by...    ...
45438  Bloed, Zweet en Tranen (Blood, Sweat and Tears...    ...
45439  Paula the ape woman (Acquanetta) is alive and ...    ...
45440  Pretty, popular, and slim high-schooler Aly Sc...    ...
45441  Hyperactive teenager Kelly is enrolled into a ...    ...
45442  A combination gambling den and bawdy house is ...    ...
45443  A chemist in his laboratory places upon a tabl...    ...
45444  A bearded magician holds up a large playing ca...    ...
45445  A wall full of advertising posters comes to life.    ...
45446  A man rents an apartment and furnishes it in r...    ...
45447  The background of this picture represents a sc...    ...
45448  This shows a prince entering upon the stage of...    ...
45449  It's Halloween in the 100 Acre Wood, and Roo's...    ...
45450  A band-leader has arranged seven chairs for th...    ...
45451         A series of fantastical wrestling matches.    ...
45452  Deep Hearts is a film about the Bororo Fulani,...    ...
45453  The bliss of a biology teacher’s family life i...    ...
45454  The Morning After is a feature film that consi...    ...
45455  Sentenced to life imprisonment for illegal act...    ...
45456  An unsuccessful sculptor saves a madman named ...    ...
45457  In this true-crime documentary, we delve into ...    ...

C:\Users\Ancie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
print('Adult:' ,data['adult'][0])

Adult: False

In [3]:
print('Collection: ' ,data['belongs_to_collection'][0])

Collection:  {'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [4]:
print('Budget:' ,data['budget'][0])

Budget: 30000000

In [5]:
print('Genre: ' ,data['genres'][0])

Genre:  [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]

In [6]:
print('Homepage: ' ,data['homepage'][0])

Homepage:  http://toystory.disney.com/toy-story

In [7]:
print('ID: ' ,data['id'][0])

ID:  862

In [8]:
print('IMDBID: ' ,data['imdb_id'][0])

IMDBID:  tt0114709

In [9]:
print('Language: ' ,data['original_language'][0])

Language:  en

In [10]:
print('OTitle: ' ,data['original_title'][0])

OTitle:  Toy Story

In [11]:
print('Overview: ' ,data['overview'][0])

Overview:  Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.

In [12]:
print('Poster: ' ,data['poster_path'][0])

Poster:  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg

In [13]:
print('Release: ' ,data['release_date'][0])

Release:  1995-10-30

In [14]:
print('Revenue: ' ,data['revenue'][0])

Revenue:  373554033.0

In [15]:
print('Time: ' ,data['runtime'][0])

Time:  81.0

In [16]:
print('Speak: ' ,data['spoken_languages'][0])

Speak:  [{'iso_639_1': 'en', 'name': 'English'}]

In [17]:
print('Status: ' ,data['status'][0])

Status:  Released

In [18]:
print('Tag: ' ,data['tagline'][0])

Tag:  nan

In [19]:
print('Title: ' ,data['title'][0])

Title:  Toy Story

In [20]:
print('Video: ' ,data['video'][0])

Video:  False

In [21]:
print('Vote score: ' ,data['vote_average'][0])

Vote score:  7.7

In [22]:
print('Vote number: ' ,data['vote_count'][0])

Vote number:  5415.0

In [23]:
data.drop(['belongs_to_collection', 'homepage', 'original_title', 'overview', 'poster_path', 'tagline', 'status', 'video'],axis=1,inplace=True)
print(data.shape)

(45466, 16)

In [24]:
data.head()

,adult,budget,genres,id,imdb_id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0

In [25]:
data.isna().sum().sort_values(ascending=False)

runtime                 263
release_date             87
imdb_id                  17
original_language        11
vote_count                6
vote_average              6
title                     6
spoken_languages          6
revenue                   6
popularity                5
production_countries      3
production_companies      3
id                        0
genres                    0
budget                    0
adult                     0
dtype: int64

In [26]:
data.dropna(inplace=True)
data.shape

(45107, 16)

In [27]:
data.isna().sum().sort_values(ascending=False)

vote_count              0
vote_average            0
title                   0
spoken_languages        0
runtime                 0
revenue                 0
release_date            0
production_countries    0
production_companies    0
popularity              0
original_language       0
imdb_id                 0
id                      0
genres                  0
budget                  0
adult                   0
dtype: int64

In [28]:
data.head()

,adult,budget,genres,id,imdb_id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0

In [29]:
print(data.shape)

(45107, 16)

In [30]:
data = data[~(data == '0').any(axis=1)]

In [31]:
print(data.shape)

(8875, 16)

In [32]:
data = data[~(data == 0.0).any(axis=1)]

In [33]:
print(data.shape)
data.head()

(5362, 16)

,adult,budget,genres,id,imdb_id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
5,False,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",949,tt0113277,en,17.9249,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Heat,7.7,1886.0
8,False,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",9091,tt0114576,en,5.23158,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Sudden Death,5.5,174.0